/* Powered by M. Onurcan KAYA */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

body > div {
	height: 100%;
	width: 100%;
	position: absolute;
	background: #fff;
	cursor: pointer;
}

#tap {
	z-index: 2;
}

#tap h4 {
	font-weight: 700;
	font-size: 80px;
	color: #3498db;
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 242.5px);
}

#tap h4 span {
	color: #69b8ed;
}

#tap > span {
	font-size: 41px;
	color: #cdd1d3;
	position: absolute;
	top: calc(50% + 55px);
	left: calc(50% - 148.5px);
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#game {
	z-index: 1;
	background: #2ecc71;
	transition: background-color 150ms;
	-webkit-transition: background-color 150ms;
	-moz-transition: background-color 150ms;
	-o-transition: background-color 150ms;
}

#game .light {
	background: rgba(255, 255, 255, 0.2);
	height: 100%;
	width: 50%;
	position: absolute;
}

#game .score {
	font-weight: bold;
	font-size: 74px;
	color: rgba(0, 0, 0, 0.73);
	position: absolute;
	left: 30px;
	bottom: 32px;
}

#game .life {
	width: calc(100% - 22px);
	height: 22px;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 11px;
	left: 11px;
}

#game .life div {
	width: calc(100% - 6px);
	height: 16px;
	background: rgba(0, 0, 0, 0.15);
	margin-left: 3px;
	margin-top: 3px;
	transition: width 200ms;
	-webkit-transition: width 200ms;
	-moz-transition: width 200ms;
	-o-transition: width 200ms;
}

#gameover h3 {
	background: #3498db;
	color: #fff;
	width: 100%;
	height: 124px;
	padding-top: 70px;
	text-align: center;
	font-size: 64px;
	font-weight: bold;
	position: relative;
	top: calc(50% - 245px);
}

#gameover table {
	font-weight: bold;
	font-size: 51px;
	position: relative;
	top: calc(50% - 245px);
	width: 100%;
}

#gameover table tr td:nth-child(1){
	padding-left: 54px;
	padding-top: 63px;
	padding-bottom: 57px;
	background: #2980b9;
	color: #eaeaea;
	width: 40%;
}

#gameover table tr td:nth-child(2){
	background: #f0f0f0;
	color: #5e5e5e;
	text-align: center;
}